body{
    margin: 0;
    padding: 0;
    background-color: #D5E8FF;
   
}
img{
    max-width: 50%;
    max-height: 50%;

}

.i1{
    position:absolute;
    display: inline-flex;
    width: 150px;
    height: 150px;
    float: left;
    left: 0vh;
    padding-left: 2%;
    padding-top: 1%;
    margin: 5px 0 0 5px;
    
 
}

h1{
    
    display: inline-flex;
    padding-left: 38%;
    padding-top: 2%;
    text-align: center;
    font-size: 6vh;
}

.i2{
    position: absolute;
    width: 250px;
    height: 250px;
    display: inline;
    right: 0vh;
    align-items: right;
    /* padding-top: 4%; */
}


.topnav {
    overflow: hidden;
    background-color: #7498F8;
    width: 100%;
    padding-top:0%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    font-size: 17px;
    padding-top:1%;
    margin-left: 10vw;
  }
  
  .topnav a:hover {
    
    color: black;
  }
  
  .topnav a.active {
    background-color: #7498F8;
    color: rgb(0, 0, 0);
  }
  
  .topnav .icon {
    display: none;
  }

  .topnav.responsive a {
    float: center;
    display: block;
    text-align: left;
  }


  .searchbar{
    float: left;
    display: block;
    color: black;
    text-align: center;
    /*padding: 14px 16px;*/
    padding-top: 0%;
    padding-left: 3%;
    text-decoration: none;
    font-size: 17px;
  }
  
  .searchbar input{
    width: 30vw;
  }

h2{
text-align:left;
padding-left: 3%;
font-family: 'Glory';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 45px;
padding-top:0%;

color: #000000;
}

.rectangle{
    border: 3px solid black;
    width: 200px;
    height: 300px;
    background-color: white;
    margin-left: 80vw;
    border-radius: 37px;
    padding-top:0%;
    
}


h3{
    text-align: center;
}

.topgames{
  padding-right: 40px;
  text-align: center;
  list-style: none;
  padding-top:0%;
}

.topgames a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.score{
  text-align: left;
  padding-left: 3%;
  margin-top:0%;
}
.score a{
  text-align: left;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: white;
  padding: 3px;
  border-radius: 10px;
}

.score a:hover{
  color: white;
  background-color: black;
  border-radius: 10px;
  transition: all ease 0.3s;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}